*{
    margin: 0;
    padding: 0;
}
.topo {
    background-color: #B1A4B7;
    color: #603846;
    display: flex;
    justify-content: space-around;
}

.topo-tituloprincipal {
    width: 20%;
}

.topo-elenco-lista {
    display: grid;
    margin: 16px 0;
}

.rolex-image {
 width: 25%;

}

.relojoaria {
    background-color: #54494D;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  0 5%;
}

.relojoaria-div-conteudo {
    width: 35%;
}
.relojoaria-texto-um{
    justify-content: center;
    padding: 10% 24px ;
}
.relojoaria-texto-dois{
    justify-content: center;
    padding: 10% 24px ;
}

.logotipo-image {
    background-size: cover;
    width: 15%;
}